@{
    ViewData["Title"] = "Quem Quer Ser Esperto";
}

<div class="text-center" >
    <h1 class="display-4">See for yourself!</h1>
    <img src="https://play-lh.googleusercontent.com/NOGpg-Cng0YtMZ-kCuVDCleMx-TM6-fERc3tn7NvP94deVpJSEzarjI5bX2lQGwJ8yE=w720-h310-rw"  />
    <p>Learn about <a href="https://play.google.com/store/apps/details?id=vilares.mirante.QQSE&hl=en&gl=US"> this game</a>.</p>



</div>
